@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@500&display=swap");


* {
  box-sizing: border-box;
}

body {
  padding: 0.2em; 
}

/* the navigation section*/
.header {
  width: 100%;
  height: 90px;
  background-color: rgb(170, 226, 170);
  display: flex;
  flex-direction: row;
}

.logo {
  width: 80px;
  height: 70px;
  margin: 1em;
}

.logoText {
  font-family: 'Sansita Swashed', cursive;
  color: orangered;
  opacity: 90%;
}



.navigation {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.navigationItem {
  font-family: 'Sansita Swashed', cursive;
  font-size: 1.5rem;
  padding: 1em;
  color: orangered;
  opacity: 90%;
  text-decoration: none;
  list-style-type: none;
}

/* the about section*/
.aboutContainer {
  width:100%;
  height: 200px;
  margin: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: orangered

}

.aboutTitle {
  font-family: 'Sansita Swashed', cursive;
  
}


/* the footer section*/
.footer {
  width: 100%;
  height: 120px;
  background-color: green;
  opacity: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialmediaContainer {
  width: 5%;
  display: flex;
  flex-direction: row;
}

.footer li {
  list-style-type: none;
}

.container {
  width: 100%;
  min-height: 400px;
}

.search-container {
  width: 20%;
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.search {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  border: 3px solid white;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #17161C;
}

button {
  width: 80px;
  height: 36px;
  border: 1px none;
  background: orangered;
  opacity: 90%;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.copyright {
  color: white;
  width: 20%;
  margin: 0 2em 0 3.5em;
}